.header {
  width: calc(100% - 2rem);
  background-color: #000;
  display: flex;
  align-items: center;
  padding: 1rem;

  &__title {
    color: #fff;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
  }

  &__logo {
    padding-right: 1rem;
    width: auto;
    height: 5rem;
  }
}
