.weather {
  //   background-image: url("https://st3.depositphotos.com/2288675/17928/i/600/depositphotos_179289734-stock-photo-thermometer-snow-sub-zero-temperature.jpg");
  background-color: #5aa5be;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 500px;
  width: auto;
  height: 19rem;
  margin: auto;
  padding: 1rem;
  color: #fff;
  z-index: 10;
  text-shadow: 0 0 1px grey;

  &__top {
    &_container {
      position: relative;
      display: flex;
      justify-content: space-between;
    }
    &_top {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &_text {
      font-size: 1.5rem;
    }
    &_right {
      font-size: 6rem;

      &_center {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &_container {
        display: flex;
        justify-content: space-between;
        width: 10rem;
        font-size: 1.5rem;
      }
    }
  }

  &__bottom {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 2rem;
    border-radius: 0.375rem;

    &_container {
      display: flex;
      justify-content: space-between;
      text-align: center;
    }

    &_title {
      font-size: 1.5rem;
      padding-bottom: 1.5rem;
      text-align: center;
    }

    &_text {
      font-weight: bold;
      font-size: 1.5rem;
    }

    &_description {
      font-size: 1.25rem;
    }
  }
}

@media screen and (max-width: 1450px) {
  .weather {
    height: 16rem;

    &__bottom {
      &_title {
        font-size: 1rem;
      }
      &_description {
        font-size: 1rem;
      }
      &_text {
        font-size: 1rem;
        padding-top: 0.5rem;
      }
    }
    &__top {
      &_top img {
        width: 4em;
        height: auto;
      }
      &_right {
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .weather {
    height: 12rem;

    &__bottom {
      padding: 1rem;
      &_title {
        font-size: 1rem;
      }
      &_description {
        font-size: 0.8rem;
      }
      &_text {
        font-size: 0.8rem;
        padding-top: 0.5rem;
      }
    }
    &__top {
      &_text {
        font-size: 1rem;
      }
      &_top {
        & img {
          width: 4em;
          height: auto;
        }
      }
      &_right {
        font-size: 2rem;
        &_container {
          font-size: 1rem;
          width: auto;
        }
        &_center {
          width: 5rem;
        }
      }
    }
  }
}
