.navbar {
  background-color: #293439;
  position: sticky;
  top: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  & ul {
    display: flex;
    height: 100%;

    & > li > p {
      height: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
      padding: 0 1rem;
      cursor: default;
    }
  }

  .submenu {
    padding: 1rem 0;
    background-color: #293439;
    color: #fff;
    width: auto;
    cursor: default;
    position: absolute;

    &__container {
      display: flex;
      width: 100%;

      & > a,
      & p {
        width: 100%;
        padding: 0 1rem;
      }
    }

    & a {
      text-decoration: none;
      color: #fff;
      height: 100%;
      display: block;
    }
  }

  .subsubmenu {
    display: block;
    position: absolute;
    width: max-content;
    left: 100%;
    background-color: #293439;
    padding: 1rem 0;
    margin-top: -1rem;

    & a {
      padding: 0 1rem;
    }
  }

  .active {
    background-color: #f1c40e;
  }

  .row {
    display: flex;
    justify-content: space-between;

    & svg {
      padding-left: 0.5rem;
    }
  }
}

@media screen and (max-width: 1085px) {
  .navbar > ul {
    margin-left: auto;
    margin-right: 16.1rem;
  }
}
