.home {
  height: 100svh;

  &__container {
    display: flex;
    height: calc(100% - 4rem);
  }

  &__left {
    height: 100%;
    width: 75%;
    background-color: #e5ebef;

    &_container {
      margin: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }

    &_article {
      width: 200px;
      height: 200px;
      background: gray;
      border: solid 1px black;
    }
  }

  &__right {
    height: 100%;
    width: 25%;
    background-color: #dae0e4;
  }
}
